<header class="header-nav">
  <div class="contenedor_nav">
    <a href="#" class="logo">LeydiJCode</a>
    <input type="checkbox" id="check" />
    <label for="check" class="icons"
      ><i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bxs-x-circle bx-rotate-90" id="close-icon"></i
    ></label>
    <nav class="nav-bar">
      <ul>
        <a href="#acerca">Sobre mí</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#">Contacto</a>
      </ul>
    </nav>
  </div>
</header>
