*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
    }
    h2 {
        font-size: 1.8rem;
        text-align: center;
        font-size: large;
    }
    h4 {
        font-size: 1.3rem;
        text-decoration: overline;
        padding-bottom: 20px;
        font-weight: 500;
    }
.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;

}


#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#showcase {
    background: url('/img/showcase.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    text-align: center;
    padding: 100px;
}

#showcase .bnt {
    margin-top: 250px;
}

#projects {
    padding: 80px 0;
}

.projects-row {
    display: flex;
}

#projects-row img {
    width: 100%;
}

#about {
    padding: 80px 0;
    background: rgb(174, 156, 174);
}

.about-row {
    display: flex;
}

.about-row-experiences {
    width: 200%;
    padding-left: 200px;
    
}
.about-row-me {
    width: 100%;
    padding-left: 80px;
    
}

#contact {
    padding: 80px 0;
}

.contact-row-icon {
    display: flex;
}