body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: #e09710;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px 0;
}

section h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    background: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #e09710;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
#foto {
    width: 200px;
    border-radius: 50%;
    border: 2px solid #4e4ef3;
}
